.btn-secondary{
  background-color:#A39594;
  border-radius:4px;
}
.btn-secondary:hover{
  background-color:#6E675F;
}

#randomButton{
  margin-left:10px;
}

body{
  background-color: #EDEBD7;
}

h1{
  margin-top: 20px;
}

#searchField{
  margin-top:20px;
  margin-bottom:20px;
}

.card{
  border-left-color: #E3B23C;
  border-left-width: 4px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: white;
}

.card:hover{
  background-color: #F6F5EC;
}

a{
  color:#423E37;
}

a:hover{
  text-decoration: none;
  color:#423E37;
}